@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image: url("/asset/js-logo.png");
  background-color: #f7de39;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0,
}