@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background: rgb(0, 187, 255);
  background: linear-gradient(
    0deg,
    rgb(166, 236, 184) 0%,
    rgb(55, 231, 134) 90%
  );

  /* REMOVE ME */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: #ffffff;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-weight: 35px;
}

h3 {
  font-weight: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.ex-carousel-css {
  $perspective: 40px;
  $depth: 10px;
  $itemWidth: 365px;
  $itemHeight: 550px;
  $animSpeed: 2550ms;

  height: $itemHeight + 25px;
  white-space: nowrap;
  perspective: $perspective;
  perspective-origin: left center;
  overflow-x: auto;

  // &:not(.ex-carousel--animating) {
  //   //background: hotpink;

  //   .ex-carousel__item {
  //     @for $i from 1 through 50 {
  //       &:nth-child(#{$i}) {
  //         &:hover,
  //         &:focus {
  //           &:not(.active):not(:active) {
  //             .ex-carousel__poster {
  //               $j: 50 - $i;
  //               //z-index: $j;

  //               @if $i > 1 {
  //                 transition-delay: 250ms;
  //                 $z: ($i - 1) * $depth;
  //                 $scale: (($z * -1) / $perspective) - 1;
  //                 $scaledWidth: $itemWidth / $scale;
  //                 $translateX: ($scale + 1) * ($scaledWidth);
  //                 transform: translateX($translateX);
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .ex-carousel-css__item {
    transition: transform $easeOutQuint $animSpeed,
      opacity $easeOutQuint $animSpeed;
    cursor: pointer;
    position: relative;
    width: $itemWidth;
    height: $itemHeight;
    display: inline-block;

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        $j: 50 - $i;
        z-index: $j;

        @if $i > 1 {
          // $scale: 1 / $i;
          // $scaledWidth: $itemWidth * $scale;
          // $diffWidth: $itemWidth - $scaledWidth;

          // $offsetX: $offsetX - $diffWidth;

          // $zOffset: -($i - 1) * 75px;
          // $bx: ($diffWidth) * ($zOffset / $perspective);

          //transform: scale($scale) translateZ($offsetX);
          transform: translateZ(-($i - 1) * $depth);
        }
      }
    }
  }

  .ex-carousel-css__poster {
    transition: inherit;
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  //&:not(:first-child) {

  //    }

  // @for $i from 1 through 50 {
  //   &:nth-child(#{$i}) {
  //     $j: 10 - $i;
  //     z-index: $j;

  //     @if $i > 1 {
  //       // $scale: 1 / $i;
  //       // $scaledWidth: $itemWidth * $scale;
  //       // $diffWidth: $itemWidth - $scaledWidth;

  //       // $offsetX: $offsetX - $diffWidth;

  //       // $zOffset: -($i - 1) * 75px;
  //       // $bx: ($diffWidth) * ($zOffset / $perspective);

  //       //transform: scale($scale) translateZ($offsetX);
  //       transform: translateZ(-($i - 1) * $zTranslate);
  //     }
  //   }
  // }
}

.ex-carousel {
  $perspective: 40px;
  $depth: 10px;
  $itemWidth: 365px;
  $itemHeight: 550px;
  $animSpeed: 550ms;

  height: $itemHeight + 25px;
  white-space: nowrap;
  perspective: $perspective;
  perspective-origin: left center;
  overflow-x: auto;

  &:not(.ex-carousel--animating) {
    //background: hotpink;

    .ex-carousel__item {
      @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          &:hover,
          &:focus {
            &:not(.active):not(:active) {
              .ex-carousel__poster {
                $j: 50 - $i;
                //z-index: $j;

                @if $i > 1 {
                  transition-delay: 250ms;
                  $z: ($i - 1) * $depth;
                  $scale: (($z * -1) / $perspective) - 1;
                  $scaledWidth: $itemWidth / $scale;
                  $translateX: ($scale + 1) * ($scaledWidth);
                  transform: translateX($translateX);
                }
              }
            }
          }
        }
      }
    }
  }

  .ex-carousel__item {
    transition: transform $easeOutQuint $animSpeed,
      opacity $easeOutQuint $animSpeed;
    cursor: pointer;
    position: relative;
    width: $itemWidth;
    height: $itemHeight;
    display: inline-block;
  }

  .ex-carousel__poster {
    transition: inherit;
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &--render {
    .ex-carousel__item {
      transition: none !important;
    }
  }

  //&:not(:first-child) {

  //    }

  // @for $i from 1 through 50 {
  //   &:nth-child(#{$i}) {
  //     $j: 10 - $i;
  //     z-index: $j;

  //     @if $i > 1 {
  //       // $scale: 1 / $i;
  //       // $scaledWidth: $itemWidth * $scale;
  //       // $diffWidth: $itemWidth - $scaledWidth;

  //       // $offsetX: $offsetX - $diffWidth;

  //       // $zOffset: -($i - 1) * 75px;
  //       // $bx: ($diffWidth) * ($zOffset / $perspective);

  //       //transform: scale($scale) translateZ($offsetX);
  //       transform: translateZ(-($i - 1) * $zTranslate);
  //     }
  //   }
  // }
}
